<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head><title>Bikes</title></head>
<body>
<div layout:fragment="content">
    <div class="page-title">Available Bikes</div>
    
    <div class="bike-grid">
        <div th:each="bike : ${bikes}" class="bike-card">
            <div class="bike-img">
                <span th:text="${bike.type}">BIKE</span>
            </div>
            <div class="bike-info">
                <div class="bike-name" th:text="${bike.brand + ' ' + bike.model}">Bike Name</div>
                <div class="bike-type" th:text="${bike.description}">Description</div>
                <div class="bike-price" th:text="'LKR ' + ${bike.pricePerHour} + ' / hr'">Price</div>
                <div class="bike-footer">
                    <span th:if="${bike.available}" class="badge-av">Available</span>
                    <span th:unless="${bike.available}" class="badge-un">Rented</span>
                    <a th:href="@{'/rentals/rent?bikeId=' + ${bike.bikeId}}" class="btn-main" th:if="${bike.available}" style="font-size:11px;padding:4px 10px;">Rent</a>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top:30px;">
        <a th:href="@{/bikes/add}" class="btn-main">List Your Bike</a>
    </div>
</div>
</body>
</html>